<a href="https://colab.research.google.com/github/AMujeebDalal/Practice/blob/main/1_4_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Functions

**A function is a block of code which only runs when it is called.**

**You can pass data, known as parameters, into a function(Function_Name(Parameters)).**

**A function can return a value if specified.**

## Answers to the exercises are given at the end of the notebook

## **Creating a Function:**

In Python a function is defined using the def keyword.

In [ ]:
def my_function():
  print("Hello from a function")

**Exercise 4.1 :**

Create a function named** display**

In [ ]:
### START CODE HERE ### 
def display():
  print("hello")
### END CODE HERE ###

**Exercise 4.2 :**

Write a python function to print the name of our country.
    
Expected output: India

In [ ]:
## Code here
def country():
  print("India")
country()

India

##**Calling a Function:**

To call a function, use the function name followed by parenthesis.

**Exercise 4.3**

Write a Python function to find the Max of two numbers.
Input: 1 2 3

Output: 3

In [ ]:
## Code here
def Max(x,y,z):
  if x>y & x>z:
    print(x)
  elif y>x & y>z:
    print(y)
  else:
    print(z)
Max(1,2,3)

3

## **Parameters:**

Information can be passed to functions as parameter.

Parameters are specified after the function name, inside the parentheses. You can add as many parameters as you want, just separate them with a comma.

The following example has a function with one parameter (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name.

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

**NOTE:** If we call the function without parameter, it uses the default value.

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

## **Return Statement**


When the function results in some value and that value has to be stored in a variable or needs to be sent back or returned for further operation to the main algorithm, return statement is used.

In [ ]:
def times(x,y):
    z = x*y
    return z


The above defined times( ) function accepts two arguements and return the variable z which contains the result of the product of the two arguements

In [ ]:
c = times(4,5)
print(c)

20


20

The z value is stored in variable c and can be used for further operations.

Instead of declaring another variable the entire statement itself can be used in the return statement as shown.

In [ ]:
def times(x,y):
   return x*y       # This multiplies the two input arguments and returns it.

In [ ]:

c = times(4,5)
print(c)

20


20

Since the times( ) is now defined, we can document it as shown above. This document is returned whenever times( ) function is called under help( ) function.

**Exercise 4.4 :**

 Let the function return the** x** parameter - 10

In [ ]:
### START CODE HERE ### 
           ## 1 line of code
### END CODE HERE ###  
def minus10(x):
  return x-10
c = minus10(38)
print(c)

28

## **Implicit arguments**

When an argument of a function is common in majority of the cases or it is "implicit" this concept is used.

In [ ]:

def implicitadd(x,y=3):
    return x+y


**implicitadd( )**  is a function accepts two arguments but most of the times the first argument needs to be added just by 3. Hence the second argument is assigned the value 3. Here the second argument is implicit.

In [ ]:
implicitadd(4)       # if the second argument is not defined when calling the implicitadd( ) function then it considered as 3.

7


But if the second argument is specified then this value overrides the implicit value assigned to the argument

In [ ]:

implicitadd(4,4)     # if the second argument is specified then this value overrides the implicit value assigned to the argument

8

## ** Arbitrary  arguments**

If the number of arguments that is to be accepted by a function is not known then a asterisk symbol is used before the argument.

In [ ]:
def add_n(*args):
    res = 0
    reslist = []
    for i in args:
        reslist.append(i)
    print(reslist)
    return sum(reslist)

The above function accepts any number of arguments, defines a list and appends all the arguments into that list and return the sum of all the arguments.

In [ ]:
add_n(1,2,3,4,5)

[1, 2, 3, 4, 5]

15

**Output :** 

[1, 2, 3, 4, 5]

 15

**Exercise 4.5 :**

1) Create a function called **add**, which takes two numbers as parameters and prints their addition.
 
2) Display the additon of **12** and** 36**.

In [ ]:
### START CODE HERE ### 
def add(x,y):
  print(x+y)
add(12,36)
 

### END CODE HERE ###

48

**Expected output:**

48

**Exercise 4.6 :**

Write a shutting down function:

1) Define  a function, **shut_down**, that takes one argument s. 

2)  If the **shut_down** function receives an **s** equal to** 1**, it should return **"Shutting down"** Alternatively, elif **s** is equal to **2,** then the function should return **"Shutdown aborted"**. Finally, if** shut_down** gets anything other than those inputs, the function should return **"Sorry".**

In [ ]:
### START CODE HERE ###                  
def shut_down(x):
  if x==1:
    print("Shutting down")
  elif x==2:
    print('Shutdown aborted')
  else:
    print('Sorry')
shut_down(1)
### END CODE HERE ###

Shutting down

**Exercise 4.7 :**

Write functions to **add**,** subtract, divide,** and **multiply** two numbers

In [ ]:
### START CODE HERE ###    
def add(x,y):
  print(x+y)
def subtract(x,y):
  print(x-y)
def divide(x,y):
  print(x/y)
def multiply(x,y):
  print(x*y)
### END CODE HERE ###
add(8,4)
subtract(8,4)
divide(8,4)
multiply(8,4)

12
4
2.0
32

**Expected output:**
 
 12 
 
 4
 
 2
 
 32

**Exercise 4.8 :**

Create and define a Function **greet** to greet **"Monica", "Ross", "Chandler", "Joey", "Rachel"** and **"Phoebe".**


**Hint:**  

Make use of** Arbitrary arguments.**

In [ ]:
### START CODE HERE ###   
def greet(*args):
  namelist = []
  for i in args:
    namelist.append(i)
    print('Hello ' + i)
greet("Monica","Ross","Chandler","Joey","Rachel","Phoebe")           ## Function call

### END CODE HERE ###

Hello Monica
Hello Ross
Hello Chandler
Hello Joey
Hello Rachel
Hello Phoebe

**Expected output:**

Hello Monica

Hello Ross

Hello Chandler

Hello Joey

Hello Racheal

Hello Phoebe

**Exercise 4.9 :**

Write a Python function to reverse a string.

Input: abcde

Output: edcba

In [ ]:
## Code here
def reverse(x):
  return x[::-1]
  print(x)
reverse('abcde')

'edcba'

**Exercise 4.10 :**

Write a function to implement linear search.

Input: abcde, c

Output: 3

In [ ]:
## Code here
def linear_search(x,y):
  i=0;
  while i<len(x):
    if x[i]== y:
      print(i)
    i+=1
linear_search('abcde','c')

2

**Exercise 4.11 :**

Write a function to find modulus of a number.

Input: 12, 2

Output: 0

In [ ]:
## Code here
def mod(x,y):
  return x%y
mod(12,2)

0

**Exercise 4.12 :**

Write a function to find factorial of a number.

Input: 5

Output: 120

In [ ]:
## Code here
def fact():
  x = int(input('Enter a number:'))
  if x==0:
    print('0! = 1')
  else:
    i = 1
    f=1
    while i<=x:
      f = i*f
      i+=1
    print(f) 
fact()

Enter a number:9
362880

**Exercise 4.13: **

Write a Python function to check whether a number is in a given range.

Input:3

Output:  Yes

In [ ]:
##Code here
def check():
  x = int(input('Enter a number:'))
  if x in range(2,10):
    print('Yes')
  else:
    print('No')
check()

Enter a number:11
No

**Exercise 4.14: **


Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [ ]:
## COde here
def upper_lower():
  s = input('Enter the string:')
  x=0
  y=0
  for i in s:
    if i.isupper():
      x+=1
    elif i.islower():
      y+=1
    else:
      continue
  print('upper case letters = ',x, 'lower case letters= ',y)
upper_lower()

Enter the string:djftDD
upper case letters =  2 lower case letters=  4

**Exercise 4.15: **


Write a function to check for prime numbers.

In [ ]:
## COde here
def prime():
  n = int(input('Enter n:'))
  if n <=1:
    print('not valid number')
  else:
    i=2
    while i<n:
      if (n%i ==0):
        flag=0
        break
      else:
        flag=1
      i+=1
    if flag ==1:
      print('prime')
    else:
      print('not prime')
prime()

Enter n:13
prime

**Exercise 4.16: **


Write a function to check for Palindrome number.

In [ ]:
## Code here
def palindrome():
  n = input('Enter a number: ')
  m = n[::-1]
  if n==m:
    print('palindrome number')
  else:
    print('not palindrome number')
palindrome()

Enter a number: daad
palindrome number

**Exercise 4.17: **


Write a Python program to detect the number of local variables declared in a function.

In [ ]:
## Code here
def abc():
    x = 1
    y = 2
    str1= "some"
    print()
print("Local variables: ", abc.__code__.co_nlocals)

Local variables:  3

**Exercise 4.18: **


Write a Python code to implement quick sort.

In [ ]:
## Code here
def part(a,beg,end):
  i = beg - 1
  p = a[end]
  for j in range(beg, end):
    if a[j] <= p:
      i+=1
      a[i], a[j] = a[j], a[i]
  a[i+1], a[end] = a[end], a[i+1]
  return (i+1)
def qs(a, beg, end):
  if len(a) == 1:
      return a
  if beg< end:
    pi = part(a, beg, end)   
    qs(a, beg, pi-1)
    qs(a, pi+1, end)
a = [10, 7, 8, 9, 1, 5]
n = len(a)
qs(a, 0, n-1)
print("Sorted array is:")
for i in range(n):
    print("%d" % a[i])

Sorted array is:
1
5
7
8
9
10

**Exercise 4.19: **


Write a Python code to determine if number of given base is divisible by k or not.

In [ ]:
## Code here
def div(x,y):
  if(x%y == 0):
    print(x,' is dividible by ', y)
  else:
    print('no')
div(4,2)

4  is dividible by  2

**Exercise 4.20: **


Write a Python code to implement hash function.

In [ ]:
## Code here
t = (1, 2, 3, 4, 5)

**Exercise 4.21: **


Write a Python function to concatenate two strings without using string functions.

In [ ]:
## Code here
def concat():
  x = input('Enter string 1: ')
  y = input('Enter string 2: ')
  print(x+y)
concat()

Enter string 1: abc
Enter string 2: def
abcdef

Linear Search

In [ ]:
# Linearly search x in arr[]. If x is present
# then return the index, otherwise return -1


def search(arr, x):
	for index, value in enumerate(arr):
		if value == x:
			return index
	return -1


# Driver Code
arr = [1, 10, 30, 15]
x = 30
print(x, "is present at index",
	search(arr, x))

30 is present at index 2