In [1]:
t = 123, 35.05, 'hello'
t[1]

35.05

In [2]:
t = t, (1,2,3,4,5)
t

((123, 35.05, 'hello'), (1, 2, 3, 4, 5))

In [4]:
u=()
x='hello',
len(u)

0

In [5]:
len(x)

1

In [12]:
 t = 12345, 54321, 'hello!'
 t

(12345, 54321, 'hello!')

In [13]:
basket={'apple', 'orange', 'banana', 'apple'}
basket

{'apple', 'banana', 'orange'}

In [15]:
'orange' in basket

True

In [16]:
'grass' in basket

False

In [17]:
a = set('blanket')
b = set('breakfast')
a

{'a', 'b', 'e', 'k', 'l', 'n', 't'}

In [18]:
a-b

{'l', 'n'}

In [19]:
b-a

{'f', 'r', 's'}

In [20]:
a|b

{'a', 'b', 'e', 'f', 'k', 'l', 'n', 'r', 's', 't'}

In [21]:
a&b

{'a', 'b', 'e', 'k', 't'}

In [22]:
a^b

{'f', 'l', 'n', 'r', 's'}

In [23]:
a = {x for x in 'blanket' if x not in 'abc'}
a

{'e', 'k', 'l', 'n', 't'}

In [24]:
d = {'kalam':2000, 'malam':2001}
d

{'kalam': 2000, 'malam': 2001}

In [25]:
d['maram'] = 2002
d

{'kalam': 2000, 'malam': 2001, 'maram': 2002}

In [27]:
list(d)

['kalam', 'malam', 'maram']

In [1]:
sorted(d)

NameError: name 'd' is not defined

In [29]:
'kalam' in d

True

In [30]:
'kabul' in d

False

In [31]:
'kabul' not in d

True

In [32]:
#The dict() constructor builds dictionaries directly from sequences of key-value pairs:
dict([('lala', 4139), ('bala', 4127), ('jala', 4098)])

{'lala': 4139, 'bala': 4127, 'jala': 4098}

In [33]:
#In addition, dict comprehensions can be used to create dictionaries from arbitrary key and value expressions:
{x:x*x for x in range(6)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [35]:
#When the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments:
dict(sape=41, guido=27, jack=40)

{'sape': 41, 'guido': 27, 'jack': 40}

In [40]:
story = dict(killer='king', actor='knight', hero='slave', victim= 'prince')
#When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method
for k,v in story.items():
    print(k, '-->', v)

killer --> king
actor --> knight
hero --> slave
victim --> prince

In [41]:
#When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.
for i,v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [44]:
questions = ['name', 'quest', 'favorite color']
answers = ['Murshid', 'knowledge', 'blue']
for q,a in zip(questions, answers):
    print('what is your {0} ? It is {1}.'.format(q,a))

what is your name ? It is Murshid.
what is your quest ? It is knowledge.
what is your favorite color ? It is blue.

In [49]:
#To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the reversed() function.
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [53]:
if((1,2,-1)<(1,2)):
    print('yes')
else:
    print('no')

no